<div class="topbar bg-white <% if defined? @property %> d-none <% end %>">
  <div class="header11 po-relative">
    <div class="container">
      <nav class="navbar navbar-expand-lg h11-nav">
        <a class="navbar-brand" href=" <%= root_path %> ">
          <%= image_tag 'logo_transparent.png', alt: 'Kumusha Properties' %> Kumusha <span class="d-none d-md-inline">Properties</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header12a" aria-controls="header12a" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse flex-column font-13" id="header12a">
          <div class="ml-auto h11-topbar">
            <ul class="list-inline ">
              <li>
                <a href="https://www.twitter.com/zwkumusha" class="twitter" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/pages/category/Real-Estate/Kumusha-Properties-ZW-103547228035098" target="_blank" class="facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/kumusha.propertieszw" class="instagram" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-phone"></i>  +263 732 659 841
                </a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <% if current_page?(root_path) %>
                <%= link_to "Home", root_path, class: 'nav-link active' %>
              <% else %>
                <%= link_to "Home", root_path, class: 'nav-link' %>
              <% end %>
           </li>
           <li class="nav-item">
              <% if current_page?(properties_path) %>
                <%= link_to "Property", properties_path, class: 'nav-link active' %>
              <% else %>
                <%= link_to "Property", properties_path, class: 'nav-link ' %>
              <% end %>
           </li>
           <li class="nav-item">
              <%= link_to "About Us", '#about', class: 'nav-link' %>
           </li>
           <li class="nav-item">
              <%= link_to "Contact Us", '#contact', class: 'nav-link' %>
           </li>
           <li class="nav-item m-auto">
              <a class="btn btn-danger" href="#contact">Sell With Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
