<div class="grid-sizer grid-item col-md-4 col-sm-12">
  <div class="item card-shadow property-box" data-aos="fade-right">
    <%= link_to property, title: property.title do %>
      <%= image_tag property.property_images.first.image_url, class: 'img-fluid', alt: property.title %>
    <% end %>
    <div class="bg-white p-40 po-relative">
      <label class="label text-white bg-danger">ON SALE</label>
      <h3 data-animation="animated flipInX" class="m-b-10 m-t-0">
        <%= link_to property.title, property, class: 'link', title: property.title  %>
      </h3>
      <p data-animation="animated fadeInLeft" class="m-t-20">
        <%= property.address %>
      </p>
      <h3 class="text-info m-b-0">
        $ <%= property.price %>
      </h3>
    </div>
    <div class="bg-light-extra p-40 specifiaction-box">
      <div class="row">
        <div class="col-4">
          <h6 class="specifiaction text-muted">Bedrooms</h6>
          <h5 class="m-b-0 font-medium">
            <%= property.bedrooms %>
          </h5>
        </div>
        <div class="col-4">
          <h6 class="specifiaction text-muted">Units</h6>
          <h5 class="m-b-0 font-medium">
            <%= property.units %>
          </h5>
        </div>
        <div class="col-4">
          <h6 class="specifiaction text-muted">Yard (sqm)</h6>
          <h5 class="m-b-0 font-medium">
            <%= property.yard %>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
