
<section id="slider-sec" class="slider10">
    <div id="slider10" class="carousel bs-slider slide control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="7000">
        <ol class="carousel-indicators">
            <li data-target="#slider7" data-slide-to="0" class="active"></li>
            <li data-target="#slider7" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            <% @featured.each do |property| %>
                <div class="carousel-item <% if property.id == @featured.first.id %> active <% end %>">
                    <%= image_tag property.property_images.second.image_url, class: 'slide-image img-responsive' %>
                    <div class="slide-text slide_style_left">
                        <div class="container" data-animation="animated fadeInLeft">
                            <div class="bg-white slide-content po-relative">
                                <label class="label text-white bg-info">ON RENT</label>
                                <h3 data-animation="animated flipInX" class="m-b-10 m-t-0">
                                    <%= link_to property.title,property, class: 'link' %>
                                </h3>
                                <h6> <%= property.address %> </h6>

                                <h2 class="text-info m-b-0">$ <%= property.price %> <span class="tag bg-danger">Hot Offer</span></h2>
                            </div>
                            <div class="bg-light slide-content specifiaction-box">
                                <div class="row">
                                    <div class="col-4">
                                        <h6 class="specifiaction text-muted">Bedrooms</h6>
                                        <h5 class="m-b-0 font-medium">
                                            <%= property.bedrooms %>
                                        </h5>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="specifiaction text-muted">Housing Units</h6>
                                        <h5 class="m-b-0 font-medium">
                                            <%= property.units %>
                                        </h5>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="specifiaction text-muted">Kitchens</h6>
                                        <h5 class="m-b-0 font-medium">
                                            <%= property.kitchens %>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>

            <div class="slider-control hide">
                <a class="left carousel-control-prev text-danger font-14" href="#slider7" role="button" data-slide="prev"> <span class="bg-white text-center ti-arrow-left" aria-hidden="true"></span> <b class="sr-only font-normal">Previous</b> </a>
                <a class="right carousel-control-next text-danger font-14" href="#slider7" role="button" data-slide="next"> <span class="bg-white text-center ti-arrow-right" aria-hidden="true"></span> <b class="sr-only font-normal">Next</b> </a>
            </div>
        </div>
    </div>
</section>


<div class="spacer bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Recent Listings</h2>
            </div>
        </div>
        <div class="owl-carousel owl-theme tcards m-t-40">
            <% @properties.each do |property| %>
                <div class="item card-shadow property-box" data-aos="fade-right">
                    <%= image_tag property.property_images.first.image_url, class: 'img-fluid' %>
                    <div class="bg-white p-40 po-relative">
                        <label class="label text-white bg-info">ON RENT</label>
                        <h3 data-animation="animated flipInX" class="m-b-10 m-t-0">
                            <%= link_to property.title, property, class: 'link' %>
                        </h3>
                        <p data-animation="animated fadeInLeft" class="m-t-20"> <%= property.address %> </p>
                        <h3 class="text-info m-b-0">$ <%= property.price %> </h3>
                    </div>
                    <div class="bg-light-extra p-40 specifiaction-box">
                        <div class="row">
                            <div class="col-4">
                                <h6 class="specifiaction text-muted">Bedrooms</h6>
                                <h5 class="m-b-0 font-medium">
                                    <%= property.bedrooms %>
                                </h5>
                            </div>
                            <div class="col-4">
                                <h6 class="specifiaction text-muted">Units</h6>
                                <h5 class="m-b-0 font-medium">
                                    <%= property.units %>
                                </h5>
                            </div>
                            <div class="col-4">
                                <h6 class="specifiaction text-muted">Yard (sqm)</h6>
                                <h5 class="m-b-0 font-medium">
                                    <%= property.yard %>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>


<div class="blog-home3 spacer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="title">From Our Blog</h2>
            </div>
        </div>
        <div class="row m-t-40">
            <div class="col-lg-6">
                <div class="card" data-aos="flip-left" data-aos-duration="1200">
                    <a href="#">
                        <img class="card-img-top" src="http://via.placeholder.com/1224x1024" alt="wrappixel kit">
                    </a>
                    <div class="date-pos bg-info">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
                    <h5 class="font-medium m-t-30"><a href="#" class="link">Techonologies started to change Drastically</a></h5>
                    <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" data-aos="flip-up" data-aos-duration="1200">
                            <a href="#"><img class="card-img-top" src="http://via.placeholder.com/1224x1024" alt="wrappixel kit"></a>
                            <div class="date-pos bg-info">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
                            <h6 class="font-medium m-t-20"><a href="#" class="link">New Seminar on Newest Food Recipe from World’s Best</a></h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" data-aos="flip-up" data-aos-duration="1200">
                            <a href="#"><img class="card-img-top" src="http://via.placeholder.com/1224x1024" alt="wrappixel kit"></a>
                            <div class="date-pos bg-info">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
                            <h6 class="font-medium m-t-20"><a href="#" class="link">New Seminar on Newest Food Recipe from World’s Best</a></h6>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6">
                        <div class="card" data-aos="flip-up" data-aos-duration="1200">
                            <a href="#"><img class="card-img-top" src="http://via.placeholder.com/1224x1024" alt="wrappixel kit"></a>
                            <div class="date-pos bg-info">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
                            <h6 class="font-medium m-t-20"><a href="#" class="link">New Seminar on Newest Food Recipe from World’s Best</a></h6>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6">
                        <div class="card" data-aos="flip-up" data-aos-duration="1200">
                            <a href="#"><img class="card-img-top" src="http://via.placeholder.com/1224x1024" alt="wrappixel kit"></a>
                            <div class="date-pos bg-info">JOHN DOE &nbsp; &nbsp; SEPT 15, 2017</div>
                            <h6 class="font-medium m-t-20"><a href="#" class="link">New Seminar on Newest Food Recipe from World’s Best</a></h6>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>

<div class="spacer feature14">
    <div class="container">
        <!-- row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Aboout Us</h2>
            </div>
        </div>
        <!-- row  -->
        <div class="row m-t-40 p-t-20">
            <div class="col-lg-6 col-md-6 mx-auto wrap-feature14-box">
                <div class="">
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer feature4  bg-light">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Why choose us</h2>
                <h6 class="subtitle">We are a well connected group working with truted brands of realtors</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row m-t-40">
            <!-- Column -->
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-right" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-star"></i>
                        </div>
                        <h5 class="font-medium">Reliable</h5>
                        <p class="m-t-20">
                            We are in constant communication with our clients and keep them posted and always stick to agreements. One can bank on our response
                        </p>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-left" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <h5 class="font-medium">Trusted </h5>
                        <p class="m-t-20">
                            Trust is our value and we mutually share this attribute with our clients both the buyres and sellers.
                            We take pride accurate prices agreed by the seller and communicate the same to our buyers
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-left" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-shield"></i>
                        </div>
                        <h5 class="font-medium">Verified </h5>
                        <p class="m-t-20">
                            We sell verified properties under the council cession, with title deeds and all necessary land permits. We also encourage our clients to verify our properties so that know how genuine they are.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>



<div class="spacer feature14">
    <div class="container">
        <!-- row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Are you happy with what we offer? Get Your Dream Home Now</h2>
                <a class="btn btn-danger btn-md m-t-20" href=" <%= properties_path %> ">Search Properties</a>
            </div>
            <div class="col-md-12 text-center m-t-30">
                <%= image_tag 'vectorecity.jpg', alt: "kumusha properties", class: 'img-fluid' %>
            </div>
        </div>
        <!-- row  -->
    </div>
</div>
