<section class="">
    <div id="banner4" class="banner hero" style="background-image:url( <%= image_url('3.jpg') %> )">
        <div class="banner-content">
            <div class="container" data-aos="fade-down" data-aos-duration="1500">
                <div class="col-md-7 mx-auto">
                    <h2 class="title text-white text-center font-bold m-b-30">There's no place like home,<br> Get yours today</h2>
                    <div class="row form-data" id="search">
                        <div class="input-group col-sm-6 col-md-6 b-r p-b-10 p-t-10 bg-white sec-icon po-relative">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent outline-none border-0" id="basic-addon1">
                                <i class="fa fa-map-marker text-danger"></i>
                            </span>
                          </div>
                          <input type="text" id="city" name="" value="" placeholder="City, place, or address" class="ml-md-2 form-control b-b text-uppercase">
                        </div>

                        <div class="input-group col-sm-6 col-md-4 p-b-10 p-t-10 bg-white">
                            <input type="text" name="" id="price" placeholder="Max Price" class="text-uppercase form-control b-b" />
                        </div>
                        <div class="col-md-2 p-0">
                            <button id="startSearch" class="b-0 text-center h-100 bg-success-gradiant text-white font-14 form-control"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
</section>


<div class="spacer bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Recent Listings</h2>
            </div>
        </div>
        <div class="owl-carousel owl-theme tcards m-t-40">
            <% @properties.each do |property| %>
                <div class="item card-shadow property-box" data-aos="fade-right">
                    <%= image_tag property.property_images.first.image_url, class: 'img-fluid' %>
                    <div class="bg-white p-40 po-relative">
                        <label class="label text-white bg-info">ON RENT</label>
                        <h3 data-animation="animated flipInX" class="m-b-10 m-t-0">
                            <%= link_to property.title, property, class: 'link' %>
                        </h3>
                        <p data-animation="animated fadeInLeft" class="m-t-20"> <%= property.address %> </p>
                        <h3 class="text-info m-b-0">$ <%= property.price %> </h3>
                    </div>
                    <div class="bg-light-extra p-40 specifiaction-box">
                        <div class="row">
                            <div class="col-4">
                                <h6 class="specifiaction text-muted">Bedrooms</h6>
                                <h5 class="m-b-0 font-medium">
                                    <%= property.bedrooms %>
                                </h5>
                            </div>
                            <div class="col-4">
                                <h6 class="specifiaction text-muted">Units</h6>
                                <h5 class="m-b-0 font-medium">
                                    <%= property.units %>
                                </h5>
                            </div>
                            <div class="col-4">
                                <h6 class="specifiaction text-muted">Yard (sqm)</h6>
                                <h5 class="m-b-0 font-medium">
                                    <%= property.yard %>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="spacer feature42" style="background-image:url( <%= image_url('2.jpg') %> )">

    <div class="container">
        <div class="row justify-content-center wrap-feature42-box">
            <div class="col-md-10 col-lg-7 text-center aos-init aos-animate" data-aos="fade-up">
                <h2 class="title text-white">We're Always the way to go</h2>
                <h6 class="subtitle text-white op-7 m-b-20">
                    Making a decision to sell your home is not easy, let alone selling it. Let us do the hard or you can begin with a valuation
                </h6>
                <a href="javascript:void(0)" class="btn btn-danger-gradiant btn-lg">Get Free Valuation</a>
            </div>
        </div>
    </div>

</div>


<div class="">

    <div class="wrap-feature-28 row">
        <div class="col-lg-6 bg-cover" style="background-image:url( <%= image_url('1.jpg') %> )"></div>
        <div class="col-lg-6">
            <div class="side-content both-space">
                <h2 class="title">We guide you in every step</h2>
                <p>You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time and with great quality.</p>
                <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" data-toggle="collapse" href="#f28"><span>View More <i class="ti-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
    <div class="wrap-feature-28 row">
        <div class="col-lg-6">
            <div class="side-content both-space text-right pull-right">
                <h2 class="title">Your satisfaction, Our concern</h2>
                <p>You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time and with great quality.</p>
                <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" data-toggle="collapse" href="#f28"><span>View Feature28 code <i class="ti-arrow-right"></i></span></a>
            </div>
        </div>
        <div class="col-lg-6 bg-cover" style="background-image:url( <%= image_url('4.jpg') %> )">
        </div>
    </div>

</div>

<div class="spacer feature14">
    <div class="container">
        <!-- row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Aboout Us</h2>
            </div>
        </div>
        <!-- row  -->
        <div class="row m-t-40 p-t-20">
            <div class="col-lg-6 col-md-6 mx-auto wrap-feature14-box">
                <div class="">
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer feature4  bg-light">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Why choose us</h2>
                <h6 class="subtitle">We are a well connected group working with truted brands of realtors</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row m-t-40">
            <!-- Column -->
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-right" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-star"></i>
                        </div>
                        <h5 class="font-medium">Reliable</h5>
                        <p class="m-t-20">
                            We are in constant communication with our clients and keep them posted and always stick to agreements. One can bank on our response
                        </p>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-left" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <h5 class="font-medium">Trusted </h5>
                        <p class="m-t-20">
                            Trust is our value and we mutually share this attribute with our clients both the buyres and sellers.
                            We take pride accurate prices agreed by the seller and communicate the same to our buyers
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-left" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-shield"></i>
                        </div>
                        <h5 class="font-medium">Verified </h5>
                        <p class="m-t-20">
                            We sell verified properties under the council cession, with title deeds and all necessary land permits. We also encourage our clients to verify our properties so that know how genuine they are.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>



<div class="spacer feature14">
    <div class="container">
        <!-- row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Are you happy with what we offer? Get Your Dream Home Now</h2>
                <a class="btn btn-danger btn-md m-t-20" href=" <%= properties_path %> ">Search Properties</a>
            </div>
            <div class="col-md-12 text-center m-t-30">
                <%= image_tag 'vectorecity.jpg', alt: "kumusha properties", class: 'img-fluid' %>
            </div>
        </div>
        <!-- row  -->
    </div>
</div>
